tolerate padding (equal signs) in the secret

the otpauth document *clearly* states: "The padding specified in RFC 3548 section 2.2 is not required and should be omitted."  but, one ignorant user might include the padding, and be confused. the following would be tolerant of such aberrant behavior.  (who, me?!!?!)
`*** otp.bash    2017-12-18 22:45:18.291831917 +0530
--- /usr/local/lib/password-store/extensions/otp.bash   2018-01-17 17:08:03.544472496 +0530
***************
*** 41,47 ****
    local p=${BASH_REMATCH[7]}
    local IFS=\&; local params=(${p[@]}); unset IFS

!   pattern='^(.+)=(.+)$'
    for param in "${params[@]}"; do
      if [[ "$param" =~ $pattern ]]; then
        case ${BASH_REMATCH[1]} in
--- 41,47 ----
    local p=${BASH_REMATCH[7]}
    local IFS=\&; local params=(${p[@]}); unset IFS

!   pattern='^([^=]+)=(.+)$'
    for param in "${params[@]}"; do
      if [[ "$param" =~ $pattern ]]; then
        case ${BASH_REMATCH[1]} in
`

cheers.